<h1>Your Cart</h1>
<h2>Hi There! Below are the items in your Cart:</h2>
<hr />

<table id="cartTable">
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    <tr id="cartEmptyMessage">
        <td colspan="5" class="emptyMessage">You have no items saved in your Cart , please add!</td>
    </tr>

</table>
<hr/>
<div class="ctaWrapper">
    <a href="menu" class="cta green">Go To Menu</a>
    <a href="order/create" class="cta blue" id="checkoutButton">Proceed to pay</a>
</div>