<h1>Welcome to Pizza Square!</h1>
<h2>Problems Come and Go. Pizza is Forever.</h2>

<div class="blurb">No matter what the situation, pizza always helps. Especially a pizza that gives you the freedom to choose your 
    toppings - from paneer, crisp capsicum, onion, grilled mushroom, golden corn, black olives, fresh tomato, red paprika, jalapeno, paneer tikka 
    and extra cheese to non-veg toppings such as pepper barbeque chicken, peri-peri chicken, grilled chicken rasher, 
    chicken sausage or chicken tikka- the options are almost endless, anything and everything you can think of that too on top of the 
    crust of your choice - New hand-tossed crust, wheat thin crust, cheese burst crust, classic hand-tossed crust or a fresh pan pizza. 
    Because just like a pizza, we understand you.</div>

<div class="ctaWrapper">
    <a href="account/create" class="cta green">Create Account</a>
    <a href="session/create" class="cta blue">Login</a>
</div>